html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 147%;
  margin: 0;
  padding: 0;
}

