html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 147%;
  margin: 0;
  padding: 0;
}

section{
  padding: 2rem 1.5rem;
}

.has-bg-white-ter{
  background: hsl(0, 0%, 96%);
}

.message{
  margin-bottom: 2.5rem;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}

.message.is-done .message-header{
  background: hsl(141, 71%, 48%);
}

.message.is-done .message-body{
  text-decoration: line-through;
}

.message-header{
  justify-content: flex-end;
  padding: 0.5em 1em;
}

.message .input{
  background: transparent;
  border: 0;
  box-shadow: none;
}

.message .input:focus{
  background: white;
  border: 1px solid #dbdbdb;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

.done{
  height: 20px;
  width: 20px;
  font-size: 0.75rem;
  background-color: rgba(10, 10, 10, 0.2);
  color: white;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.25rem;
}

.done:hover{
  background-color: rgba(10, 10, 10, 0.3);
}